@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");


* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

@media (max-width: 960px) {
	html {
		font-size: 8px;
	}
}

@media (max-width: 720px) {
	html {
		font-size: 6px;
	}

	nav {
		visibility: hidden;
	}
}

a {
	text-decoration: none;
}

nav {
	height: 100%;
	width: 1.5em;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	padding: 0 0 0 0.5em;
}

nav ul {
	width: 100%;
	height: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.link {
	margin: 0.5em 0;
}

.svg {
	height: 1em;
	width: 1em;
	pointer-events: none;
}

.welcome {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #222;
}

.welcome div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.welcome div h1 {
	font-family: "Titillium Web", sans-serif;
	font-size: 8.5em;
	font-weight: 700;
	color: #eee;
	letter-spacing: 0.06em;
	margin-bottom: 0.15em;
}

.welcome div p {
	font-family: "Roboto Slab", serif;
	font-size: 5em;
	color: #ccc;
	margin-right: 0.8em;
	font-weight: 600;
}

.geetguud {
	max-width: 40em;
	max-height: 40em;
	margin: 4em;
	border-radius: 50%;
}

@media (max-width: 720px) {
	.welcome {
		flex-direction: column-reverse;
	}

	.welcome div {
		align-items: center;
	}

	.welcome div p {
		margin: 0;
	}
}

.detail {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #333;
}

.detail1 {
	max-width: 40%;
	font-family: "Open Sans", sans-serif;
	font-size: 3em;
	color: #eee;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.detail2 {
	max-width: 40%;
	font-family: "Raleway", sans-serif;
	font-size: 2.5em;
	font-weight: 500;
	color: #ddd;
	text-align: center;
	padding: 0.5em;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 2em;
}

.detail2 p {
	margin: 0.5em 0;
	line-height: 1.5em;
}

.geetguudsmol {
	max-width: 8em;
	max-height: 8em;
	margin-top: 1em;
	border-radius: 0.25em;
}

@media (max-width: 720px) {
	.detail {
		flex-direction: column;
	}

	.detail1 {
		max-width: 85%;
		margin-bottom: 1em;
	}

	.detail2 {
		max-width: 85%;
		padding: 0;
		margin: 0;
		font-size: 3em;
	}

	.detail2 p {
		margin: 0;
	}
}