* {
    margin: 0;
    padding: 0;
}

:root {
    --font: "Open Sans", sans-serif;
}

html {
    font-family: var(--font);
    font-size: 10px;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 2.5em;
}

.input-label {
    font-size: 2em;
    margin: 0.5em;
}

.input-data {
    width: 40em;
    height: 5em;
    font-family: var(--font);
    font-size: 1.5em;
    padding: 0.5em;
}

.input-button {
    font-family: var(--font);
    font-size: 1.5em;
    padding: 0.2em 0.5em;
    margin: 1em;
}

.input-button:hover {
    cursor: pointer;
}

.tools {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 0.5rem;
    margin: 2em 0;
}

.tool {
    padding: 0.5rem;
    background: #fafafa;
    border: 0.1rem solid #aaaaaa;
}

.display {
    min-height: 5rem;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.5em;
    background-color: #ffffff;
    border: 0.1rem solid #aaaaaa;
}